.flex{
    min-width: 300px;
    padding: 10px;
    border: 2px solid black;
    display: flex;
}
.flexx{
    min-width: 300px;
    min-height: 180px;
    padding: 10px;   
    display: flex;    
}
.item{
    background-color: aqua;
    margin: 5px;
}

.flex-container{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.flex-item{
    background: blue;
    height: 30px;
    width: 30px;
    line-height: 50px;
    font-size: 12px;
    color: white;
    text-align: center;
    margin: 5px;
} 

.row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.row-reverse li{
    background-color: red;
}

.column{
    flex-direction: column;
    float: left;
}

.column li{
    background: orange;
}

.column-reverse{
    flex-direction: column-reverse;
    float: right;
}

.column-reverse li{
    background: purple;
}

.item2{
    font-size: 15px;
    height: 50%;
    text-align: center;
    min-width: 100px;
    line-height: 50px;
}

.flex-container2{
    display: flex;
    height: 100px;
    border: 2px solid black;
    max-width: 300px;
   
}

.nowrap{
    flex-wrap: nowrap;    
}
.wrap{
    flex-wrap: wrap;
}
.wrap-reverse{
    flex-wrap: wrap-reverse;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}
.green{
    background-color: green;
}

.flex-container3{
    display: flex;    
    border: 1px solid black;
      
}

.default{
    flex-flow: row nowrap;
}

.wrap2{
    flex-flow: row wrap;
}

.wrap2-reverse{
    flex-flow: row wrap-reverse;
}

.row-nowrap{
    flex-flow: row-reverse nowrap;
}

.row-wrap{
    flex-flow: row-reverse wrap;
}

.row-resverse-wrap{
    flex-flow: row-reverse wrap-reverse;
}
.item3{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    line-height: 50px;
}

/* justify content */

.container4{
    max-width: 400px;
    border: 1px solid black;
    margin: 0;
    display: flex;
}
.item4{
    background-color: blueviolet;
    margin: 5px;
    text-align: center;
    color: white;    
}

.flex-start{
    justify-content: flex-start;    
}

.flex-end{
    justify-content: flex-end;
}

.center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}
.space-around{
    justify-content: space-around;
}

.column2{
    flex-direction: column;
    min-height: 200px;
}
/* prática com align items*/
.container7{
    max-width: 350px;
    border: 1px solid black;    
    display: flex;
}

.item7{
    background-color: blueviolet;
    margin: 5px;
    color: white;
    text-align: center;
    flex: 1;
}

.center7{
    align-items: center;
}

.stretch{
    align-items: stretch;
}

.start{
    align-items: flex-start;
}

.end{
    align-items: flex-end;
}

.baseline{
    align-items: baseline;
}

.column3{
    flex-direction: column;
}
.flexx2{
    min-width: 300px;
    min-height: 20px;
    padding: 10px;   
    display: flex;
}
/* alinhamento central a tela*/
.central{
    height: 300px;
    justify-content: center;
}

.central .item7{
    flex: 0;
    padding: 20px;
}